body {
    background-color: white;
    font-family: "Open Sans", system-ui;
    color: black;
}

/* Navbar */
.navbar {
    background: white !important;
}

/* Page container width */
main.container {
    max-width: 1200px;
}

/* Transcript & Chat Boxes */
.chat-box {
    background: white;
    padding: 1.2rem;
    height: 80vh;
    overflow-y: auto;
}

/* All Buttons */
.btn {
    padding: 0.6rem 1.2rem;
    border-radius: 9999px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

/* Chat Bubble */
.chat-bubble {
    max-width: 80%;
    padding: 0.8rem;
    border-radius: 12px;
    margin-bottom: 12px;
    word-wrap: break-word;
    background: #F4F4F4;
    margin-left: auto;
}

/* AI Input Bar*/
#ai-input {
    resize: none;
    overflow-y: auto;
    padding: 0.8rem 1.2rem;
    border-radius: 9999px;
    max-height: 120px;
}