{% extends "base.html" %}

{% block title %}{% endblock %}

{% block main %}

<!-- Upload File Section -->
<h1>Upload File</h1>
<form id="upload-file" class="mb-4" enctype="multipart/form-data">
    <input id="file-input" type="file" name="file" accept="audio/*, video/*">
    <button class="btn btn-dark" type="submit">Upload</button>
</form>

<!-- Loading Spinner -->
<div id="spinner" class="text-center" style="display: none;">
    <div class="spinner-grow" role="status">
        <span class="visually-hidden">Processing...</span>
    </div>
    <p>Processing...</p>
</div>

<!-- TODO: Add copy svg to the bottom right of the box for easy copy -->
<!-- Transcript Box Section -->
<h4>Transcript Text</h4>
<div id="transcript-box" class="chat-box border rounded mb-4 shadow-sm"></div>

<!-- TODO: Combine Summary Section with AI Chat -->
<!-- AI Summary Section -->
<h4>AI Summary</h4>
<div id="summary-box" class="chat-box border rounded mb-4 shadow-sm"></div>

<!-- AI Chat Section -->
<h4>AI Chat</h4>
<div id="chat-box" class="chat-box border rounded mb-4 shadow-sm"></div>

<!-- TODO: Ensure that chatbox can resize to fit user input -->
<!-- Chatbox -->
<div class="mt-4">
    <form id="ai-form">
        <input id="ai-input" class="form-control" name="name" placeholder="Type to AI" type="text" required>
        <button class="btn btn-dark mt-3" type="submit">Send</button>
    </form>
</div>

<!-- JS Scripts -->
<script src="https://cdn.jsdelivr.net/npm/marked@17.0.0/lib/marked.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dompurify@3.3.0/dist/purify.min.js"></script>
<script src="static/index.js"></script>
{% endblock %}